<div class="taycan-slider">
  <div class="splide">
    <div class="splide__track">
      <div class="splide__list">
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan</h3>
            <div class="additional-content">
              <p class="price">NTD 4,320,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan 4</h3>
            <div class="additional-content">
              <p class="price">NTD 4,600,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan4.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan 4s</h3>
            <div class="additional-content">
              <p class="price">NTD 5,320,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan4s.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan GTS</h3>
            <div class="additional-content">
              <p class="price">NTD 6,580,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan-gts.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan Turbo</h3>
            <div class="additional-content">
              <p class="price">NTD 7,680,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan-turbo.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan Turbo S</h3>
            <div class="additional-content">
              <p class="price">NTD 9,250,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan-Turbo-S.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan Turbo GT</h3>
            <div class="additional-content">
              <p class="price">NTD 10,480,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img src="/public/img/taycan-turbo-gt.png" alt="Taycan 4" />
            </div>
          </div>
        </div>
        <div class="splide__slide">
          <div class="content-wrapper">
            <h3 class="car-name">Taycan Turbo GT with Wp</h3>
            <div class="additional-content">
              <p class="price">NTD 10,480,000</p>
              <button class="view-more">See more</button>
            </div>
            <div class="car-image">
              <img
                src="/public/img/Taycan-Turbo-GT-with-Weissach-Package.png"
                alt="Taycan 4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .taycan-slider {
    width: 100%;
    padding: 20px 0;
    background-image: url('/public/img/graybg.png');
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;

    .splide {
      width: 100%;
      height: 260px;
      max-width: 1200px;
      margin: 0 auto;
    }
    :global(.splide__arrow) {
      background: transparent;
      width: 40px;
      height: 40px;
      border: 2px solid white;
      top: 65%;

      svg {
        fill: #fff;
      }
    }

    .splide__list {
      align-items: flex-end;
    }

    :global(.splide__slide) {
      transition: all 0.5s ease;
      &.is-clone {
        opacity: 1;
      }
      .content-wrapper {
        background: white;
        border-radius: 15px;
        padding: 10px;
        padding-top: 32px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
        transition: all 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 230px;
        width: 184px;
      }

      .car-name {
        height: 48px;
        font-size: 24px;
        margin: 0 0 15px 0;
        text-align: center;
        font-weight: 600;
      }

      .additional-content {
        width: 100%;
        opacity: 0;
        max-height: 0;
        transition: all 0.5s ease;
        gap: 15px;
        display: flex;
        flex-direction: column;
      }
      .car-image {
        margin: 0 auto;
        width: 120%;
        height: 180px;
        border-radius: 12px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .price {
        font-size: 18px;
        color: #666;
        margin: 0;
        text-align: center;
      }

      .view-more {
        padding: 5px 25px;
        background: linear-gradient(#ffce60, #ede1c8, #ffce60);
        color: #000;
        border: 1px solid;
        border-image: linear-gradient(to right, #ffffff, #666);
        border-radius: 32px;
        cursor: pointer;
        font-size: 16px;
        align-self: center;
      }

      &.is-active {
        transform: scale(1);

        .content-wrapper {
          height: 200px;
          padding-bottom: 25px;
        }

        .additional-content {
          opacity: 1;
          max-height: 220px;
        }
        .car-image {
          margin-left: -1rem;
          img {
            height: 130%;
          }
        }
      }

      &.is-prev,
      &.is-next {
        transform: scale(1);

        .content-wrapper {
          height: 160px;
        }

        .additional-content {
          opacity: 0.7;
          max-height: 50px;

          .specs,
          .view-more {
            display: none;
          }
        }
        .car-image {
          width: 90%;
          img {
            height: 140%;
          }
        }
      }

      &:not(.is-active):not(.is-prev):not(.is-next) {
        transform: scale(1);

        .content-wrapper {
          height: 120px;
        }
        .additional-content {
          opacity: 0.5;
        }
        .car-image {
          width: 70%;
          img {
            height: 140%;
          }
        }
        .price {
          display: none;
        }
        .view-more {
          display: none;
        }
      }
    }
  }
</style>

<script>
  import Splide from '@splidejs/splide'
  import '@splidejs/splide/css'

  document.addEventListener('DOMContentLoaded', () => {
    const splide = new Splide('.splide', {
      type: 'loop',
      perPage: 4,
      focus: 'center',
      gap: '1rem',
      pagination: false,
      arrows: true,
      speed: 800,
      rewind: false,
      autoWidth: false,
      clones: 4,
      preloadPages: 2,
      visible: 'true',
      cloneStatus: true,
      waitForTransition: true,
      resetProgress: false,
      updateOnMove: true,
      padding: { left: '10%', right: '10%' },
      breakpoints: {
        1024: {
          perPage: 3,
        },
        768: {
          perPage: 1,
        },
      },
    })
    splide.mount()
    splide.on('mounted', function () {
      // 強制更新所有幻燈片的可見性
      setTimeout(() => {
        splide.refresh()
      }, 100)
    })
    document.querySelector('.splide__arrow--next').style.right = '-2.5em'
    document.querySelector('.splide__arrow--prev').style.left = '-4em'
    document.querySelectorAll('svg').forEach((svg) => {
      svg.style.fill = '#fff'
    })
  })
</script>
