---
import ModelSwitch from '../components/ModelSwitch.astro'
import Carouselcar from '../components/Carouselcar.astro'
const cars = [
  {
    model: 'Taycan',
    image: '/public/img/redcar.png',
    className: 'car-image',
    stats: {
      maxSpeed: 250,
      acceleration: 3.3,
    },
  },
]
---

<div class="wrapper">
  <section class="section animation-section">
    <div class="content-container">
      <ModelSwitch currentModel="Taycan" />
      <h1 class="title">Model Selection</h1>
      <img src="/public/img/redcar.png" alt="Car" class="car-image" />

      <img
        src="/public/img/graycan.png"
        alt="Platform"
        class="platform-image"
      />
      <div class="circle circle-left">
        <div class="border_line"></div>
        <span class="number1">000</span>
        <span class="unit">km/h</span>
        <span class="speed">Extreme speed</span>
      </div>
      <div class="circle circle-right">
        <div class="border_line"></div>
        <span class="number2">0</span>
        <span class="unit2">s</span>
        <span class="speed2">0-100 km/h</span>
      </div>

      <div class="carousel-container">
        <Carouselcar />
      </div>

      <svg style="visibility: hidden; position: absolute; width: 0; height: 0;">
        <path id="leftPath" d="M 0,0 C -100,-100 -100,-50 -550,-100"></path>
        <path id="rightPath" d="M 0,0 C 100,-100 100,-50 550,-200"></path>
      </svg>
    </div>
  </section>
</div>

<script>
  import gsap from 'gsap'
  import ScrollTrigger from 'gsap/ScrollTrigger'
  import { MotionPathPlugin } from 'gsap/MotionPathPlugin'

  gsap.registerPlugin(ScrollTrigger, MotionPathPlugin)

  const leftTarget = 250
  const rightTarget = 3.3

  gsap.set('.car-image', {
    y: -500,
    opacity: 0.5,
    scale: 0,
  })

  gsap.set('.platform-image', {
    y: 300,
    opacity: 0,
  })

  gsap.set(['.circle-left', '.circle-right'], {
    opacity: 0,
    scale: 0,
    xPercent: 0,
    yPercent: 100,
    x: 0,
    y: 0,
  })
  gsap.set('carousel-container', {
    y: 300,
    opacity: 0,
  })

  ScrollTrigger.create({
    trigger: '.animation-section',
    pin: true,
    start: 'top top',
    end: '+=300%',
  })

  const timeline = gsap.timeline({
    scrollTrigger: {
      trigger: '.animation-section',
      start: 'top top',
      end: '+=300%',
      scrub: 1,
    },
  })

  timeline
    .to('.car-image', {
      y: 0,
      opacity: 1,
      scale: 1,
      duration: 1,
    })
    .to(
      ['.platform-image', '.carousel-container'],
      {
        y: 0,
        opacity: 1,
        duration: 1,
      },
      '-=0.5'
    )
    .to('.car-image', {
      scale: 1.2,
      duration: 1,
    })
    .to(['.circle-left', '.circle-right'], {
      opacity: 1,
      scale: 1,
      duration: 1,
      ease: 'power1.out',
      onComplete: () => {
        gsap.to('.circle .number1', {
          duration: 2,
          innerHTML: leftTarget,
          snap: { innerHTML: 1 },
          ease: 'power1.inOut',
        })
        let count = { val: 0 }
        gsap.to(count, {
          val: rightTarget,
          duration: 2,
          ease: 'power1.inOut',
          onUpdate: function () {
            ;(
              document.querySelector('.circle .number2') as HTMLElement
            ).innerText = count.val.toFixed(1)
          },
        })
      },
    })
    .to(
      '.circle-left',
      {
        opacity: 1,
        scale: 1,
        duration: 1,
        motionPath: {
          path: '#leftPath',
          align: '#leftPath',
          autoRotate: false,
          alignOrigin: [0.5, 0.5],
        },
        ease: 'power1.inOut',
      },
      '-=0.5'
    )
    .to(
      '.circle-right',
      {
        opacity: 1,
        scale: 1,
        duration: 1,
        motionPath: {
          path: '#rightPath',
          align: '#rightPath',
          autoRotate: false,
          alignOrigin: [0.5, 0.5],
        },
        ease: 'power1.inOut',
      },
      '<'
    )
    .to(
      '.carousel-container',
      {
        bottom: '-4.2071%',
        opacity: 1,
        transform: 'translateY(0)',
        duration: 1,
        ease: 'power2.out',
      },
      '-=0.5'
    )
</script>

<style lang="scss" scoped>
  @import '../styles/_reset.scss';
  .wrapper {
    height: auto;
  }

  .section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &.animation-section {
      // border: 1px solid red;
      background-color: #212121;
      overflow: hidden;
    }
  }

  .content-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      font-size: 44px;
      color: white;
      position: absolute;
      top: 56px;
      left: 68px;
    }
  }

  .car-image {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    height: auto;
    opacity: 0;
    z-index: 2;
  }

  .platform-image {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    height: auto;
    opacity: 0;
  }

  .circle {
    position: absolute;
    width: 164px;
    height: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    top: 20%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    background: linear-gradient(to left, #ffffff 0%, #ffce60 100%);
    &-left,
    &-right {
      transform: translate(0%, 0%) scale(0);
    }
    .border_line {
      width: 98%;
      height: 98%;
      border-radius: 50%;
      position: absolute;
      background-color: #212121;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .number1,
    .number2 {
      color: white;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      z-index: 1;
    }

    .number1 {
      font-size: 50px;
      color: red;
      left: 24px;
      font-weight: 300;
      top: 40px;
    }
    .number2 {
      font-size: 50px;
      top: 47px;
      font-weight: 300;
      left: 38px;
      color: red;
    }
    .unit {
      color: red;
      font-size: 16px;
      font-weight: 300;
      z-index: 10;
      top: 67px;
      right: 20px;
      position: absolute;
    }
    .unit2 {
      color: red;
      font-size: 26px;
      font-weight: 300;
      z-index: 10;
      top: 66px;
      right: 42px;
      position: absolute;
    }
    .speed {
      color: #fff;
      font-size: 18px;
      font-weight: 100;
      z-index: 10;
      top: 102px;
      right: 20px;
      position: absolute;
    }
    .speed2 {
      color: #fff;
      font-size: 18px;
      font-weight: 100;
      z-index: 10;
      top: 108px;
      right: 37px;
      position: absolute;
    }
  }

  .carousel-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    opacity: 0;
    transform: translateY(100px);
  }

  //這裡加了動畫圓形位置會跑掉
  // @keyframes spin {
  //   from {
  //     transform: rotate(0);
  //   }
  //   to {
  //     transform: rotate(359deg);
  //   }/public/img/taycan-gts.png
  // }
</style>
